@{
    Layout = "~/Views/Shared/_LayoutUi.cshtml";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container container-main"> 
            <p>
                <span id="status" class="status-unsaved">&bull;</span>
                <span id="connection-quality-backend" class="connection-quality-backend"></span>
            </p>
        <div class="panel panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="badge btn-block">Appar</p>
                    <!-- Apps Start -->
                    <div id="apps-template" class="">
                        Loading...
                    </div>
                    <!-- Apps End -->
                </div>
                <div class="panel-body">
                    <!-- Categories Start -->
                    <div class="">
                        <p class="badge btn-block">Kategorier</p>
                        <div id="categories-template" class="">
                            Välj app först...
                        </div>
                    </div>
                    <!-- Categories End -->
                    <!-- Places Start-->
                    <div class="">
                        <p class="badge btn-block">Platser</p>
                        <div id="places-template" class="">
                            Välj Kategori först...
                        </div>
                    </div>
                    <!-- Places End-->
                    <!-- Place Content Start -->
                    <div class="">
                        <p class="badge btn-block">Minnesmärke!</p>
                        <div id="place-content-template" class="">
                            Välj Plats först...
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</body>
</html>


@section scripts
{
    <script src="~/Scripts/aa.grain.of.gold.tools.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.init.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.App.js"></script>
    <script src="~/Scripts/aa.grain-of-gold.json2Types.js"></script>  
    <script src="~/Scripts/aa.grain.of.gold.Category.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.Place.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.Forecast.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.google.map.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.mustache.templates.js"></script>
}


