@{
    Layout = "~/Views/Shared/_LayoutUi.cshtml";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            
            <div class="panel panel-default">
                <div id="apps-template" class="panel panel-heading">
                    Loading apps....
                </div>
                <div id="categories-template" class="panel panel-body">
                    Loading...
                </div>
                <div id="forecasts-template" class="panel panel-footer">
                    Loading...
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>


@section scripts
{
    <script src="~/Scripts/aa.grain.of.gold.tools.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.init.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.App.js"></script>
    <script src="~/Scripts/aa.grain-of-gold.json2Types.js"></script>  
    <script src="~/Scripts/aa.grain.of.gold.Category.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.Place.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.Forecast.js"></script>
    <script src="~/Scripts/aa.grain.of.gold.mustache.templates.js"></script>

    <script>
        function addMarkers(categories) {

            var locations = [];
            $.each(categories, function (i, category) {
                $.each(category.Places, function (i, place) {

                    locations.push([place.Name, place.Latitude, place.Longitude]);
                })

            })

            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 4,
                center: new google.maps.LatLng(60, 18),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow;

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
    


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZH5YuDq0lFmASM7NP4zoB1i66e39QSM&callback=addMarkers" async defer></script>


}


