@{
    ViewBag.Title = "Om";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <ul class="list-group">
        <li class="list-group-item"> 
            <p>
                Appen <strong>Grain of Gold</strong> ger möjlighet att placera ditt eget speciella guldkorn på en "skattkarta".
            </p>
            </li>
        <li class="list-group-item">
            <p>
                Alla som använder appen <strong>Grain Of Gold</strong> får möjlighet att gjädjas av ditt delade guldkorn!
            </p>
        </li>
        <li class="list-group-item">
            <p>
                Denna applikation är ett projekt i kursen 1DV449, Linnéuniversitet HT15.
            </p>
        </li>
    </ul>

</div>
