@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


        <address>
            Andréas Anemyr<br />
            Prästängsgatan 8<br />
            598 92 Vimmerby<br />
            <abbr title="Phone">Telefon: </abbr>
            +46 70-607 11 32
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">aa223ig@student.lnu.se</a><br />
        </address>
    
</div>
