@model IEnumerable<MVC.Models.Category>

<table class="table table-striped">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { controller = "Categories", id = item.Id })
        </td>
    </tr>
}

</table>
